[alias]
        a = add
        ps = "!git push origin $(git rev-parse --abbrev-ref HEAD)"
        pl = "!git pull origin $(git rev-parse --abbrev-ref HEAD)"
        st = status
        br = branch
        ba = branch -a
        bm = branch --merged
        bn = branch --no-merged
        hist = log --pretty=format:\"%Cgreen%h %Creset%cd %Cblue[%cn] %Creset%s%C(yellow)%d%C(reset)\" --graph --date=relative --decorate --all
        llog = log --graph --name-status --pretty=format:\"%C(red)%h %C(reset)(%cd) %C(green)%an %Creset%s %C(yellow)%d%Creset\" --date=relative
        open = "!gh browse"
        ps = "!git push origin $(git rev-parse --abbrev-ref HEAD)"
        d="!git diff | dunk"

[github]
        user = AviAvinav

[init]
        defaultbranch = main

[user]
        email = aviavinav2004@gmail.com
        name = Avi Avinav

[credential]
        helper = manager-core

[core]
        editor = vim

